{{ template "header.tmpl.html" .}}

<div class="top">
    <div class="logo">
        <h1><a href="/">soup</a></h1>
    </div>

    <div class="top_content">
        <h2>Blocklist</h2>
        <p>urls matching a rule in the blocklist will not be crawled and do not end up in the search results </p>

        <h3>add new</h3>
        <form method="POST" action="/add_block_rule" class="form">
            <div class="inputlines">
                <textarea id="block_rule" name="block_rule" placeholder="add new block rule" type="text" required value=""> </textarea>
                <div>
                    <input id="comment" name="comment" placeholder="comment" type="text" value="">
                    <input id="submit" name="submit" type="submit" value="submit">
                </div>
            </div>
        </form>

    </div>
</div>

<h3>rules</h3>

<table>
    <tbody>
        {{ range .Blocklist }}
        <tr>
            <td>
                <a href="{{ . }}">{{ . }}</a>
            </td>
            <td>
                [<a href="/remove_block_rule?rule={{ . | urlquery }}" title="remove from block list">remove</a>]
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ if .nextUrl }}<a href="{{ .nextUrl }}">next</a>{{ end }}
{{ template "footer.tmpl.html" .}}
