{{ template "header.tmpl.html" .}}

<div class="top">
    <div class="logo">
        <h1><a href="/">soup</a></h1>
    </div>

    <div class="top_content">
        <h2>Base Urls</h2>

        <form method="POST" action="/crawled" class="form">
            <input id="filter" name="filter" placeholder="filter list" type="text" value="{{ .filterPattern }}">
            <input id="submit" name="submit" type="submit" value="submit">
        </form>
    </div>
</div>

<table>
    <thead>
        <tr>
            <th>
                domain (crawled urls)
            </th>
            <th>
                actions
            </th>
        </tr>
    </thead>
    <tbody>
        {{ range .baseUrls }}
        <tr>
            <td>
                <a href="{{ .BaseUrl }}">{{ .BaseUrl }} ({{ .Count }})</a>
            </td>
            <td>
                [<a href="/add_exclude?exclude_url={{ .BaseUrl | urlquery }}"
                    title="exclude base url from search">exclude</a>]
                [<a href="" title="edit config">edit config</a>]
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ if .prevUrl }}<a href="{{ .prevUrl }}">prev</a>{{ end }}
{{ if .nextUrl }}<a href="{{ .nextUrl }}">next</a>{{ end }}
{{ template "footer.tmpl.html" .}}
