<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>soup</title>
  <link rel="stylesheet" href="/static/css/water.css"/>
  <link rel="stylesheet" href="/static/css/styles.css"/>

</head>

<body>

    <div class="flashes">
        {{ if .flashes.Info }}<div class="info_box">{{range .flashes.Info}}{{.}}{{end}}</div>{{ end }}
        {{ if .flashes.Warning }}<div class="warning_box">{{range .flashes.Warning}}{{.}}{{end}}</div>{{ end }}
        {{ if .flashes.Error }}<div class="error_box">{{range .flashes.Error}}{{.}}{{end}}</div>{{ end }}
    </div>
