
{{ template "header.tmpl.html" .}}


<div class="landing">
    <div class="menu">
        <h3><a href="/seed">seed</a></h3>
        <h3><a href="/crawled">crawled</a></h3>
        <h3><a href="/blocklist">blocklist</a></h3>
    </div>

    <div class="landingsearch">    
        <img src="/static/soup_small.png">
        <form method="GET" action="/search">
            <input id="phrase" name="phrase" placeholder="something" required type="text" value="">
        </form>
    </div>
<div>

{{ template "footer.tmpl.html" .}}
