{{ template "header.tmpl.html" .}}

<div class="top">
    <div class="logo">
        <h1><a href="/">soup</a></h1>
    </div>

    <div class=top_content>
        <form method="GET" action="/search">
            <input id="phrase" name="phrase" placeholder="something" required type="text" value="{{ .searchPhrase }}">
        </form>
    </div>
</div>

<div class="grey">
    <p>> <a href="{{ .fallbackSearch }}">try this search on {{ .fallbackName }}</a></p>
</div>
<div class="results">
    {{ range .results }}
    <h2>{{ if .Sitename }}{{ .Sitename }}{{ else }}{{ .BaseUrl }}{{ end }}
        </br>
        <a href="{{.BaseUrl}}{{.Path}}">{{ .HighlightTitle | safe }}</a>
    </h2>
    <div class="meta">
        <div>[id {{ .Id }}]</div>
        <div>[score {{ .Score }}] [t{{ .Tier }}]</div>
        <div>
            [date {{ .Date }}]
        </div>
        <div>
            [last update {{ .LastUpdate }}]
        </div>
        {{ if .Author }}by {{ .Author }}{{ end }}
        <div class="row">
            <p>
                {{ .HighlightContent | safe }}
            </p>
        </div>
        <div class="row">
            <a href="{{.BaseUrl}}{{.Path}}" target="_blank" rel="noopener noreferrer">{{ .BaseUrl }}{{ .Path }}</a>
        </div>
        {{ end }}
    </div>

    {{ template "footer.tmpl.html" .}}
