{{ template "header.tmpl.html" .}}

<div class="top">
    <div class="logo">
        <h1><a href="/">soup</a></h1>
    </div>

    <div class="top_content">
        <h2>Seed Urls</h2>
        <p>the seed urls are the start of every new web crawl </p>

        <h3>add new</h3>
        <form method="POST" action="/add_seed" class="form">
            <input id="seed_url" name="seed_url" placeholder="add new seed url" type="text" required value="">
            <input id="comment" name="comment" placeholder="comment" type="text" value="">
            <input id="steps" name="steps" placeholder="steps" type="number">
            <input id="submit" name="submit" type="submit" value="submit">
        </form>
    </div>
</div>

<h3>seeds</h3>
<form method="GET" action="/seed" class="form">
    <input id="filter" name="filter" placeholder="filter list" type="text" value="{{ .filterPattern }}">
</form>

<table>
    <tbody>
        <th>
            id
        </th>
        <th>
            url
        </th>
        <th>
            date added
        </th>
        <th>
            steps
        </th>
        {{ range .seedUrls }}
        <tr>
            <td>
                {{ .Id }}
            </td>
            <td>
                <a href="{{ .BaseUrl }}{{ .Path }}">{{ .BaseUrl }}{{ .Path }}</a> {{ if .Comment }} <p>{{ .Comment }}</p>{{ end }}
            </td>
            <td>
                {{ .Date }}
            </td>
            <td>
                {{ .Steps }}
            </td>
            <td>
                [<a href="/remove_seed/{{ .Id }}" title="remove from seed list">remove</a>]
                [<a href="" title="edit base url config">edit config</a>]
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>

{{ if .prevUrl }}<a href="{{ .prevUrl }}">prev</a>{{ end }}
{{ if .nextUrl }}<a href="{{ .nextUrl }}">next</a>{{ end }}
{{ template "footer.tmpl.html" .}}
