.landing {
  display: flex; /* or inline-flex */
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.landingsearch {
    flex-grow: 4;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
    gap: 3em;
}
.form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.top {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  flex-wrap: wrap;
}
.logo {
    flex-grow: 1;
    flex-basis: 10%;
}
.top_content {
    flex-grow: 5;
}


.info_box, .warning_box, .error_box {
    margin: 10px 0px;
    padding:12px;
}

.info_box {
    color: #00529B;
    background-color: #BDE5F8;
}
.warning_box {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error_box {
    color: #D8000C;
    background-color: #FFD2D2;
}

:root {
    --links: black;
}

@media (prefers-color-scheme: dark) {
    img {
        filter: invert(1);    
    }
    :root {
        --background-body: #000000;
        --links: white;
    }
}

.grey {
    color: gray;
}
